{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Dashboard
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tachometer fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                {% if not lastRefuel == null %}
                                    {{ lastRefuel|date("d.m.Y") }}
                                {% else %}
                                    Keine
                                {% endif %}
                            </div>
                            <div>Letzte Tankung</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('refuel_show') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="{{ path('refuel_create') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Tanken</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-ban fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">
                                {% if not lastDamage == null %}
                                    {{ lastDamage|date("d.m.Y") }}
                                {% else %}
                                    Keiner
                                {% endif %}
                            </div>
                            <div>Letzter Unfall</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('damage_show') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="{{ path('damage_create') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Unfall melden</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-anchor fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ aufsee }}</div>
                            <div>Momentan auf See</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('effective_show') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="{{ path('effective_create') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Auf See gehen</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-calendar fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ todayPlans }}</div>
                            <div>Geplant</div>
                        </div>
                    </div>
                </div>
                <a href="{{ path('plan_show') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
                <a href="{{ path('plan_create') }}">
                    <div class="panel-footer">
                        <span class="pull-left">Planen</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Fahrstunden ({{ "now"|date("Y") }})
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="driving_hour"></div>
                </div>
                <a href="{{ path('auswertung_show', {'year': "now"|date("Y") }) }}">
                    <div class="panel-footer">
                        <span class="pull-left">Auswertung</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->



{% endblock %}

{% block javascripts %}
    <!-- Charts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="{{ asset('Public/js/plugins/morris/morris.js') }}"></script>

    <script>
        Morris.Donut({
            element: 'driving_hour',
            data: [
                {% for value in chartValue %}
                {label: "{{ value['name'] }}", value: {{ value['hours'] }}},
                {% endfor %}
            ]
        });
    </script>
{% endblock %}
